.dfwc-text-field input {
    width: 300px;
}

.bayna-review-notice .button-link:hover {
    background: transparent;
    color: rgb(92, 1, 92);
}
/*
notice success
*/
.ci_updatedb_title {
    margin-bottom: 6px;
}

/**
 * Product options
 */
body .bayna-variable-options p.form-field {
    padding-left: 140px !important;
}
body .bayna-variable-options .form-field input[type="text"] {
    height: 30px !important;
}

/**
 * admin order preview
 */
.wc-order-preview-deposit {
    padding: 0 1.5em;
    padding-bottom: 30px;
    display: block;
    overflow: hidden;
}
.wc-order-preview-deposit > div {
    width: 50%;
    float: left;
}
.hide-if-variable {
    display: none;
}
a.csf-email-templates,
div.csf-email-templates {
    display: block;
    padding: 10px 15px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    text-decoration: none;
    width: 350px;
    text-transform: capitalize;
}
#update-deposit-order {
    width: 410px;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

#deposit-edit-wrapper .csf-onload {
    border: 1px solid #ddd;
    margin: 20px 0px;
    border-radius: 5px;
}

#deposit-edit-wrapper .csf-field .csf-title {

    width: 25%;

}

#deposit-edit-wrapper .csf-field .csf-fieldset {

    width: calc(74% - 20px);
}